body {
  margin-left: 20%;
  margin-right: 20%;
}

.img {
  display: flex;
}

.logo {
  margin-top: 100px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 35px;
  margin-left: 25%;
  margin-right:25%;
}

#email {
  margin-bottom: 25px;
}

.contact {
  margin-bottom: 35px;
}

.femme {
  margin-left: 14px;
}

.homme, .femme, #confi, #cont, #donnee, .email2, .phone, .poste, .all {
  margin-right: 8px;
}

ul li {
  list-style-type: none;
}

#submit {
  background-color: #003166;
  color: #ffffff;
  font-size: 1.0rem;
  margin-top: 12px;
  margin-bottom: 25px;
  margin-left: 12px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #004c52;
}

#submit:hover {
  background-color: #2c2219;
}


/* Stylisation des checkbox */
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 4px;
  height: 15px;
  width: 15px;
  margin-top: 5px;
  background: #fff;
  /* border: 1px solid #ccc; */
}

input[type="checkbox"]:checked {
  background: #003166;
  /* margin: 0px; */
  position: relative;
}

input[type="checkbox"]:before {
  font-family: FontAwesome;
  content: '\f00c';
  display: block;
  /* color: #003166; */
  font-size: 13px;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #000000;
  color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #ff0000;
  width: 80%;
}

/* The Close Button */
.close {
  color: #bb2424;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #f80000;
  text-decoration: none;
  cursor: pointer;
}